In [2]:
print("Hello World")

Hello World

In [3]:
1+1

2

[Change cell to "markdown" and now you can make notes]

In [5]:
7%4 # % symbol returns the remainder after the division has taken place i.e. 4 goes into 7 once, with 3 remaining

3

In [6]:
2**3 # double *'s is a power to operator

8

In [9]:
a = 5

In [10]:
a

5

In [11]:
a = 10

In [12]:
a

10

In [13]:
a + a

20

In [32]:
type(a)

int

In [33]:
a = 20.1

In [34]:
type(a)

float

In [35]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [36]:
my_taxes

10.0

This next section is on strings (7. Introduction to strings)

In [37]:
"Hello"

'Hello'

In [38]:
quote = "this is also a string"

In [41]:
quote

'this is also a string'

In [42]:
print(quote)

this is also a string

Note: that "out" values are merely returns of the input. They are NOT printing out the actual code!!! - Print outs of code don't have quotation marks

In [43]:
"hello world one"
"hello world two"

'hello world two'

In [44]:
print ("hello world one")
print ("hello world two")

hello world one
hello world two

In [45]:
print("hello \n world")

hello
 world

In [46]:
print("hello \t world")

hello 	 world

In [47]:
len("hello world")

11

the next part focuses on string indexing and slicing

In [48]:
mystring = "Hello World"

In [49]:
mystring

'Hello World'

In [50]:
mystring[0]

'H'

In [51]:
mystring[8]

'r'

In [53]:
mystring[-2]

'l'

In [54]:
mystring = "abcdefghijk"

In [55]:
mystring[2:]

'cdefghijk'

In [56]:
mystring[:3] # goes up to letter d, but not including

'abc'

In [57]:
mystring[3:6] #note: first in, last out.

'def'

In [58]:
mystring[::]

'abcdefghijk'

In [59]:
mystring[::2]

'acegik'

In [60]:
mystring[2:7:2]

'ceg'

In [61]:
mystring[::-1] #include all letters, but reverse the letters

'kjihgfedcba'

This next section is String Properties and methods

In [62]:
name = "Sam"

In [63]:
name[1:]

'am'

In [64]:
last_letters = name[1:]

In [65]:
last_letters

'am'

In [66]:
"P"+last_letters

'Pam'

In [67]:
x = "Hello World"

In [68]:
x + " It is beautiful outside"

'Hello World It is beautiful outside'

In [69]:
letter = "z"

In [70]:
letter * 10

'zzzzzzzzzz'

In [71]:
2+3

5

In [72]:
"2"+"3" #Keep data type in mind. Integers and floats are added, strings [""] are concatenated

'23'

In [73]:
x = "Hello World"

In [76]:
x.upper() #does not affect original string. If you want to change the original string then you must say x = x.upper()

'HELLO WORLD'

In [77]:
x.upper #python is saying you havent actually executed this method/function, rather, you just asked me what is was.

In [78]:
x.lower()

'hello world'

In [81]:
x.split() #creates a list from a string, based on the white space, or based on letter you pass in

['Hello', 'World']

In [82]:
x = "Hi, this is a string"

In [84]:
x.split()

['Hi,', 'this', 'is', 'a', 'string']

In [86]:
x.split("i")

['H', ', th', 's ', 's a str', 'ng']

Print formatting with strings

In [3]:
print("This is a string {}".format("INSERTED")) # .format inserts wahtever is after it into the curly brackets before it

This is a string INSERTED

In [6]:
print("The {} {} {}".format("fox", "brown", "quick"))

The fox brown quick

In [7]:
 print("The {2} {1} {0}".format("fox", "brown", "quick")) #you can also insert the indexed words into different order

The quick brown fox

In [8]:
 print("The {0} {0} {0}".format("fox", "brown", "quick")) #you can also repeat words

The fox fox fox

In [9]:
 print("The {q} {b} {f}".format(f="fox", b="brown", q="quick")) #you can also assign key words

The quick brown fox

In [12]:
result = 100/777

In [13]:
result

0.1287001287001287

In [18]:
print('the result was {r:10.3f}'.format(r=result)) #3 decimal values, the 1 indicates width ie spaces

the result was      0.129

In [19]:
name = 'Marlon'

In [20]:
#print('hello his name is {}'.format(name))

hello his name is Marlon

In [24]:
print(f'Hello his name is {name}')

Hello his name is Marlon

In [25]:
name1 = 'Sam'
age1 = 3

In [27]:
print('Hello, his name is {name1}, and he is {age1} years old') #didn't add the f for f string

Hello, his name is {name1}, and he is {age1} years old

In [28]:
print(f'Hello, his name is {name1}, and he is {age1} years old')

Hello, his name is Sam, and he is 3 years old

You can use either "f string variables", or ".format variables"

## 18. Lists in Python

In [ ]:
my_list = [1,2,3] #this is an integer list

In [30]:
my_list = ['string', 100, 23.2] #this is a list with a string, integer, and floating point

In [32]:
len(my_list)

3

In [65]:
my_list = ['one', 'two', 'three']

In [66]:
my_list[0]

'one'

In [67]:
print(my_list)

['one', 'two', 'three']

In [68]:
print(my_list[0])

one

In [69]:
print(my_list[1:])

['two', 'three']

In [70]:
my_list[1:] #notice that it wasn't printed, simply returned

['two', 'three']

In [87]:
another_list = ['four', 'five']

In [88]:
my_list + another_list

['one', 'two', 'three', 'four', 'five']

In [89]:
print(my_list + another_list)

['one', 'two', 'three', 'four', 'five']

In [90]:
both_list = my_list + another_list

In [91]:
print(both_list)

['one', 'two', 'three', 'four', 'five']

In [92]:
both_list[0] = "ONE ALL CAPS"

In [104]:
both_list

['ONE ALL CAPS', 'two', 'three', 'four']

In [105]:
both_list.append('six')

In [106]:
both_list

['ONE ALL CAPS', 'two', 'three', 'four', 'six']

In [107]:
new_list = both_list # at first you wrote both_list = new_list. This is wrong because "new_list" hasn't been defined. Correct method then is to write new_list first, i.e. new_list "is" both_list

In [108]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'six']

In [109]:
#new_list.pop() #since you didn't give an index for the .pop function, it takes off the last item in the list

In [110]:
popped_item = new_list.pop()

In [111]:
popped_item

'six'

In [112]:
# you can pop an item from any indexed position eg new_list.pop(0) = "ONE ALL CAPS" is revoved

In [113]:
new_list1 = ['a','e','x','j','q','s']
num_list = [2,5,1,3,8,7]

In [114]:
new_list1.sort #notice that you've left out ()'s at the end. - .pop/.append/.sort/.revers need a () at the end!

In [115]:
new_list1.sort()

In [116]:
new_list1

['a', 'e', 'j', 'q', 's', 'x']

In [118]:
#note, that the .sort occurs in place, This means that if you say something like my_sorted_list = new_list1.sort() nothing will return because nothing is assigned!

In [119]:
sorted_num = num_list.sort() #see exampled below

In [121]:
type(sorted_num) #none type returned because num_list.sort() designed automatically assign! it must be in a different line!

NoneType

In [122]:
num_list.reverse()

In [123]:
num_list

[8, 7, 5, 3, 2, 1]

In [124]:
# In summary, remember the commands 1) .append 2) ,pop 3) ,sort 4) .reverse when using lists

## Dictionaries in python

Dictionaries are unordered, and cannot be sorted (unlike lists). Can only be retrieved by key value!
Lists can be indexed, sliced and sorted. Objects can be retireved by location.

In [125]:
my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}

In [126]:
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [129]:
my_dict['key1'] #calls the value of the key entered

'value1'

In [135]:
prices_lookup = {'apples':5,'oranges':2, 'bananas':3}

In [136]:
prices_lookup['apples']

5

In [138]:
big_dict = {'k1':123, 'k2':[1,2,3], 'k3':{'inside_key':100}}

In [139]:
big_dict['k2']

[1, 2, 3]

In [141]:
big_dict['k3']['inside_key'] #calling the value of the key of a dictionary within another dictionary

100

In [142]:
big_dict2 = {'key1': ['a','b','c']}

In [143]:
big_dict2

{'key1': ['a', 'b', 'c']}

In [149]:
upper_case_c = big_dict2['key1'][2].upper() #here is the code to pull a key value out of a dictionary and make it uppercase. note that the index place is separate from "calling" the key value, and note the ()'s at the end!

In [150]:
print(upper_case_c)

C

In [153]:
dict3 = {'k1':100, 'k2':200, 'k3':300}

In [154]:
dict3

{'k1': 100, 'k2': 200, 'k3': 300}

In [156]:
dict3.append{'k4':400} #note that you cannot use the .append command to add to a dictionary! It is not a list! Note that append uses ()'s'

SyntaxError: invalid syntax (<ipython-input-156-2c8f6ffc2313>, line 1)

In [158]:
dict3['k4'] = 400 #note that you use [] and not {}, or () (like .append) to add to a dictionary!!

In [159]:
dict3

{'k1': 100, 'k2': 200, 'k3': 300, 'k4': 400}

In [161]:
dict3['k1'] = 'NEW VALUE'

In [162]:
dict3

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300, 'k4': 400}

In [168]:
dict3.keys() #this is the command to see the "list" keys. Notice that it's normal brackets and not curly or square!

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [173]:
dict3.values() #this shows the values of the keys. Notice how it shows all the values - can you show a particular one?

dict_values(['NEW VALUE', 200, 300, 400])

In [178]:
dict3.items() # this shows the pairings - remember, this is just a return, not a print! also notice that the returned pairings are in ()'s which means that they are tuples'

dict_items([('k1', 'NEW VALUE'), ('k2', 200), ('k3', 300), ('k4', 400)])

In [179]:
print(dict3)

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300, 'k4': 400}

# Tuples in Python

In [180]:
t = (1,2,3, 'string', 2.33) # tuples are indicated by ()'s as with lists, tuples can have mixed contents ie integers, strings, floats
l = [1,2,3] # lists are indicated by []'s. HOWEVER!!! Once a list or tuple has been populated, you use []'s to find the index of an item in either. ie t[0], ot l[0]

In [183]:
type(t)

tuple

In [184]:
type(l)

list

In [199]:
len(t) # there are 3 elements within the tuple, not that the tuple is 3 "long"

3

In [200]:
l[2]

3

#Tuples have 2 basic methods ie .index and .count

In [201]:
t1 = ('a','a','b')

In [203]:
t1.count('a')

2

In [204]:
t1.index('b')

2

In [205]:
mylist

NameError: name 'mylist' is not defined

In [206]:
my_list

['one', 'two', 'three']

In [210]:
my_list[0] = 'NEW' #you CAN change an element in a list

In [211]:
my_list

['NEW', 'two', 'three']

In [212]:
t[0] = 'NEW' # you cannot chane an element in a tuple once defined. Tuples are only used when you start passing around objects and need to make sure their elements don't get changed inadvertently - for data integrity

TypeError: 'tuple' object does not support item assignment

# Sets
## Sets

In [213]:
myset = set()

In [214]:
myset

set()

In [215]:
 myset.add(1)

In [217]:
myset #it may look like a dictionary, but it's not - notice that there is no key value pair!!

{1}

In [218]:
myset.add(2)

In [219]:
myset

{1, 2}

In [220]:
myset.add(2)

In [222]:
myset #notice that there is still only one "2" - sets only store unique values in them!

{1, 2}

In [223]:
mylist = [1,1,1,1,1,1,2,2,2,3,3,5,44,7,4,3,4,56]

In [225]:
set(mylist) #notice also that they automatically get ordered (even though the video says that they don't particularly get ordered)

{1, 2, 3, 4, 5, 7, 44, 56}

# Booleans

In [227]:
true #Python thinks you're calling a variable

NameError: name 'true' is not defined

In [228]:
True

True

In [229]:
1 > 2

False

In [230]:
1 == 2

False

In [231]:
1 == 1

True

In [232]:
b = None

In [233]:
b

# IO with Basic files

In [234]:
%%writefile myfile.txt # Magic function only works in Jupyter Notebook

UsageError: %%writefile is a cell magic, but the cell body is empty.

In [235]:
%%writefile myfile.txt
Hello,
This is the second line
This is the third line

Writing myfile.txt

In [236]:
myfile = open('myfile.txt') # the filename must be written as a string

In [238]:
myfile = open('whoops.txt') #this error will occur if the file name is wrong, or the filepath

FileNotFoundError: [Errno 2] No such file or directory: 'whoops.txt'

In [239]:
pwd #this command shows the filepath of the current notebook

'C:\\Users\\Alida\\Desktop'

In [249]:
myfile = open('myfile.txt')

In [251]:
myfile.read() # returns file contents as a single string. If it returns a blank '' then just rerun the previous cell. This is because when the file is opened it sets at the end of the file contents

''

In [267]:
myfile.seek(0)

0

In [268]:
#contents = myfile.read()

In [269]:
myfile.readlines() #should show each line on a new line, why does it not do so?

['Hello,\n', 'This is the second line\n', 'This is the third line\n']

In [270]:
myfile.close() #if we've opened a file we should also close it so that we don't get any errors

In [271]:
with open('myfile.txt') as newfile: #when you run it in this manner you don't need to worry about closing it
    contents = newfile.read()

In [272]:
contents

'Hello,\nThis is the second line\nThis is the third line\n'

In [273]:
with open('myfile.txt',mode='r') as myfile: #the 'r' stands for read, if you set it to 'w' you will get an error = not writable. This is known as permissions 'a' is for append
    contents = myfile.read() # 'r' read only, 'w' write, 'a' append, 'r+' read/write, 'w+' writing and reading (overwrites existing file or creates new one)

In [274]:
contents

'Hello,\nThis is the second line\nThis is the third line\n'

In [275]:
%%writefile mynewfile.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing mynewfile.txt

In [276]:
with open('mynewfile.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [277]:
with open('mynewfile.txt',mode='a') as f: #because append was used, the cursor is automatically at the end of the file contents
    f.write('FOUR ON FOURTH')

In [278]:
with open('mynewfile.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [280]:
with open('abcde.txt',mode='w') as f:
          f.write('I created this file')

In [282]:
with open('abcde.txt',mode='r') as f:
    print(f.read())

I created this file

In [283]:
type(8.5)

float

# THIS CHAPTER IS NOW FINISHED